<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>作业</title>
    <link rel="stylesheet" href="../public/layui/css/layui.css">
    <!-- <link rel="stylesheet" href="/css/usercenter.css"> -->
    <link rel="stylesheet" href="../public/css/articledetail.css">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        li {
            list-style: none;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div id="wrap"  class="wrap ">
        <div class="content">
            <h2>MySQL 性能优化：MySQL 中的隐式转换造成的索引失效</h2>
            <div class="article-note">
                <span class="article-node-one">
                    <i class="layui-icon layui-icon-time" style="font-size: 12px; color: #1E9FFF;"></i>
                    <span>2019/11/24</span>
                </span>
                <span class="article-node-one">
                    <i class="layui-icon layui-icon-note" style="font-size: 12px; color: #1E9FFF;"></i>
                    <span>数据库</span><span>学习</span>
                </span><span class="article-node-one">
                    <i class="layui-icon layui-icon-fire" style="font-size: 12px; color: #1E9FFF;"></i>
                    <span>观看次数：5</span>
                </span><span class="article-node-one">
                    <i class="layui-icon layui-icon-dialogue" style="font-size: 12px; color: #1E9FFF;"></i>
                    <span>评论：1</span>
                </span>
            </div>
            <article>

                数据库优化是一个任重而道远的任务，想要做优化必须深入理解数据库的各种特性。在开发过程中我们经常会遇到一些原因很简单但造成的后果却很严重的疑难杂症，这类问题往往还不容易定位，排查费时费力最后发现是一个很小的疏忽造成的，又或者是因为不了解某个技术特性产生的。

                于数据库层面，最常见的恐怕就是索引失效了，且一开始因为数据量小还不易被发现。但随着业务的拓展数据量的提升，性能问题慢慢的就体现出来了，处理不及时还很容易造成雪球效应，最终导致数据库卡死甚至瘫痪。造成索引失效的原因可能有很多种，相关技术博客已经有太多了，今天我要记录的是隐式转换造成的索引失效。

            </article>

            <hr class=" cutline">
           <!--  <hr class="layui-bg-black cutline"> -->

            <div class="article-remarks">
                码海无涯，不进则退，日积跬步，以至千里。本博客所写内容仅为个人在学习和研究 MySQL 过程中的一些心得体会及总结笔记，仅代表个人观点。
            </div>

            <blockquote class="layui-elem-quote">
                <div class="article-quote-key">本文作者：</div>
                <div class="article-quote-key">本文链接：</div>
                <div class="article-quote-key">转载请注明出处！</div>
            </blockquote>

            <!-- 前一篇，后一篇 -->
            <div class="article-other-art layui-row">
                <div class="article-before-art layui-col-md6">
                    <i class="layui-icon layui-icon-left" style="font-size: 15px; "></i>
                    <span class="">前一篇</span>
                </div>
                <div class="article-after-art layui-col-md6">
                    <span class="">后一篇</span>
                    <i class="layui-icon layui-icon-right" style="font-size: 15px; ;"></i>
                </div>
            </div>
        </div>

        <!-- 已经存在的评论 -->
        <div class="comments">
            <h3 class=""><span class="">1</span>评论</h3>
            <ul class="comments-list">
                <li class="comments-item layui-row layui-col-space10">
                    <div class="comments-user-head layui-col-md1">
                        <img src="../public/images/article/1.jpg" alt="" class="">
                    </div>
                    <div class="comments-con layui-col-md10">
                        <div class="comments-top">
                            <span class="comments-username">小小强</span>
                            <span class="comments-comtime">2019-12-2</span>
                        </div>
                        <div class="comments-user-content">图文并茂，👍👍👍</div>
                    </div>
                    <div class="comments-re layui-col-md1">
                        <a href="javascript:;">回复</a> 
                    </div>

                    <div class="">

                        <form class="layui-form" action="">
                            <div class="layui-form-item layui-form-text">
                                <div class="layui-input-block" style="margin-left: 0">
                                    <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block" style="margin-left: 0">
                                    <button class="layui-btn" lay-submit lay-filter="add">回复</button>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </li>
            </ul>
        </div>

        <div class="article-comment">
            <div class="layui-form-item layui-row">
                <div class="layui-col-md6">
                    <label class="layui-form-label">昵称</label>
                    <div class="layui-input-inline">
                        <input name="password" autocomplete="off" class="layui-input">
                    </div>
                    <!-- <div class="layui-form-mid layui-word-aux">辅助文字</div> -->
                </div>
                <div class="layui-col-md6">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-inline">
                        <input type="email" name="password" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>

            <form class="layui-form" action="">
                <div class="layui-form-item layui-form-text">
                    <div class="layui-input-block" style="margin-left: 0">
                        <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block" style="margin-left: 0">
                        <button class="layui-btn" lay-submit lay-filter="add">立即发表</button>
                    </div>
                </div>
            </form>
        </div>


    </div>
    <script>

    </script>
</body>

</html>